
<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:fragment="layout(content)">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS (LTR - standard build) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" crossorigin="anonymous">
   
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title th:text="${title}">Smart Contact Manager</title>
  </head>
  <body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Smart Contact Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Right Side -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
  <a class="nav-link " th:href="@{/home}"> Home</a>
</li>

<li class="nav-item">
  <a class="nav-link" th:href="@{/about}"> About</a>
</li>

<li class="nav-item">
  <a class="nav-link" th:href="@{/signin}"> Login</a>
</li>

<li class="nav-item">
  <a class="nav-link" th:href="@{/signup}"> Sign Up</a>
</li>
          </ul>
        </div>
      </div>
    </nav>
   
    <!-- CONTENT GOES HERE -->

    <div th:replace="${content}"></div>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/script.js}"></script>

  </body>
</html>